.header {
    overflow:hidden;
    background-color: #f2f2f2;
    position: relative;
    flex-direction: column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    min-height: 600px;
    max-height: 756px;
    z-index: 0;
    /* выше установили ограничения для секции */
  }